body{
  display: flex;
  flex-direction: column;
  background: #f8f8f8;
  margin: 0px;
}

.content-wrap {
  flex-grow: 1; /* Allow the content area to grow and fill available space */
}

.header{
  height: 150px;
  max-width: 100%;
  background-image: url("../imgs/premium_photo-1697672423600-4c05924755b0.avif");
  background-size: cover;
  background-position: center;
  text-align: center;
  
}
.header h1{
  margin: 0px;
  font-weight: 400;
  
}
.main {
  width: 80%;
  margin: auto;
}


.footer{
  height: 3em;
  line-height: 3em;
  background-color: rgb(185, 112, 41);
  color: white;
  text-align: center;
  font-weight: 900;
  margin: 0;
  position: static;
}

.products {
width: 50%;
margin: auto;
}

.products table {
  width: 100%;
  margin: 2em auto;
  
}





.products img {

width: 500px;
height: 250px;
object-fit: cover;
border: solid 1px #ddd;
display: block;
margin: 0 ;
}

